.product__container {
  align-items: center;
  border-top: 0.4vh solid #94979d;
  display: flex;
  justify-content: space-between;
  padding: 0 1vw;
}

.product__container > img {
  margin: 1vh 1vw;
}

.product__title {
  color: #444955;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  width: 25%;
}

.product__quantity {
  align-items: center;
  background: #b0b3bb;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 5px;
  width: 30px;
}

.product__price {
  color: #444955;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.cart__container {
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  height: 60vh;
  margin: 10vh 3vw 2vh;
  overflow-y: scroll;
  padding: 5vh 5vw;
  width: 50vw;
}

.cart__container > h1 {
  color: black;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 7vh;
  text-align: center;
}

.container {
  display: flex;
}

.total__compra {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  width: 45%;
}

.total__text {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: 20px;
  margin-top: -10vh;
  padding: 3%;
  text-align: center;
}

.total__text > span {
  margin-top: 5vh;
}

.total__btn {
  align-items: center;
  background: #31c28d;
  color: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  height: 5vh;
  justify-content: center;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  width: 15vw;
}

.go__back {
  color: #2fc18c;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin: 2vw;
  margin-left: 3vw;
  position: absolute;
  text-decoration: none;
  width: 20%;
}

.go__back > img {
  margin-right: 1vw;
}
