.product__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.cart__container {
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  height: 70vh;
  margin: 10vh 3vw 2vh;
  overflow-y: scroll;
  width: 50vw;
}

.container {
  display: flex;
}

.total__compra {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  width: 45%;
}

.total__text {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: 20px;
  margin-top: -10vh;
  padding: 3%;
  text-align: center;
}

.total__text > span {
  margin-top: 5vh;
}

.total__btn {
  align-items: center;
  background: #31c28d;
  color: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  height: 5vh;
  justify-content: center;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  width: 15vw;
}
