.container__img {
  align-items: center;
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  margin: 4vw;
  margin-top: 10vh;
  width: 35vw;
}

.container__img > h1 {
  color: black;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  /* identical to box height */
  text-align: center;
}

.container__img > img {
  height: 80%;
  width: 70%;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  height: 100vh;
  justify-content: center;
}

.container__infos {
  height: 100vh;
  margin: 0;
  width: 55vw;
}

.go__back {
  color: #2fc18c;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  margin: -17% 80% 6% 0;
  padding: 1vw;
  text-decoration: none;
  width: 20%;
}

.go__back > img {
  margin-right: 1vw;
}
